<div class="Lively{{#if settings.fullscreen}} fullscreen{{/if}}">
	<video poster="{{poster}}" webkit-playsinline playsinline
		{{#if settings.scrollplay}} scrollplay{{/if}}
		{{#if settings.autoplay}} muted autoplay{{/if}}
		{{#if settings.loop}} loop{{/if}}
		{{#if settings.muted}} muted{{/if}}>
		{{#each renditions}}<source src="{{url}}" type="{{contentType}}">{{/each}}
	</video>
	<div class="Lively-controls">
		<progress class="Lively-progress" value="0" max="1"></progress>
		<div>
			<button class="Lively-replay">
				<svg width="18" height="21" viewBox="0 0 18 21" xmlns="http://www.w3.org/2000/svg"><title>Replay</title><g stroke="#C9C7CD" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M3.246 6.188a7.595 7.595 0 1 0 7.044-2.013M12.036.923l-3.61 2.961 2.519 3.932"/></g></svg>
			</button>
			<button class="Lively-play">
				<svg width="17" height="18" viewBox="0 0 17 18" xmlns="http://www.w3.org/2000/svg"><title>Play</title><path d="M2.609 17.508C1.168 18.32 0 17.64 0 15.98V2.018C0 .36 1.174-.32 2.609.49l12.463 7.036c1.44.813 1.435 2.135 0 2.945L2.609 17.508z" fill="#C9C7CD" fill-rule="evenodd"/></svg>
				<svg width="17" height="20" viewBox="0 0 17 20" xmlns="http://www.w3.org/2000/svg"><title>Pause</title><g fill="#C9C7CD" fill-rule="evenodd"><rect x="11" width="6" height="20" rx="1"/><rect width="6" height="20" rx="1"/></g></svg>
			</button>
			<button class="Lively-mute">
				<svg width="23" height="16" viewBox="0 0 23 16" xmlns="http://www.w3.org/2000/svg"><title>Mute</title><g fill="none" fill-rule="evenodd"><path d="M5.465 4.605l4.167-3.234C10.934.361 12 .881 12 2.542V13.46c0 1.665-1.06 2.185-2.368 1.17l-4.166-3.232H.998A.998.998 0 0 1 0 10.395V5.607c0-.553.455-1.002.998-1.002h4.467z" fill="#C9C7CD"/><g stroke="#C9C7CD" stroke-width="2" stroke-linecap="round"><path d="M21.417 5l-5.834 6M15.583 5l5.834 6"/></g></g></svg>
				<svg width="22" height="16" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Unmute</title><defs><path d="M.336 13.763c.27-.03.532-.08.786-.15C3.18 13.041 4.69 11.18 4.69 8.97c0-2.274-1.6-4.18-3.75-4.689a4.952 4.952 0 0 0-.604-.103" id="a"/><mask id="c" x="0" y="0" width="4.354" height="9.584" fill="#fff"><use xlink:href="#a"/></mask><path d="M.336 17c4.255-.275 7.62-3.76 7.62-8.018C7.955 4.724 4.59 1.24.335.964" id="b"/><mask id="d" x="0" y="0" width="7.619" height="16.036" fill="#fff"><use xlink:href="#b"/></mask></defs><g fill="none" fill-rule="evenodd"><path d="M5.465 4.605l4.167-3.234C10.934.361 12 .881 12 2.542V13.46c0 1.665-1.06 2.185-2.368 1.17l-4.166-3.232H.998A.998.998 0 0 1 0 10.395V5.607c0-.553.455-1.002.998-1.002h4.467z" fill="#C9C7CD"/><g transform="translate(14 -1)" stroke-linecap="round" stroke="#C9C7CD" stroke-width="2"><use mask="url(#c)" xlink:href="#a"/><use mask="url(#d)" xlink:href="#b"/></g></g></svg>
			</button>
		</div>
	</div>
</div>